@model IEnumerable<VolunteerSystem.ViewModels.EnrollmentDateGroup>

@{
    ViewBag.Title = "About Us";
}

<h2>Our Mission</h2>

<p>The mission of the Making A Difference Foundation is to make a difference in the lives of others one person 
    at a time by helping them acquire the most basic human needs: food, housing, encouragement and opportunity. 
    We believe that every person has the capacity to serve and make a difference in a person’s life. 
    Inspired by Dr. Martin Luther King Jr.</p>
<br />
<p>Founded by Ahndrea L. Blue in 2003, Making a Difference Foundation is a 501(c)(3) charitable organization.</p>
<br />
<p>With the help of God, we make a difference through:</p>
<li>Providing Food</li>
<li>Providing Housing</li>
<li>Providing Gifts of Encouragement</li>
<li>Providing Scholarships</li>
<li>Performing missionary work throughout the world</li>