@{
    ViewBag.Title = "Home Page";
}

<h2><b>The Making a Difference Foundation</b></h2><br /><br />
<img src="~/Photos/background1.jpg" width="100%" height="700" /><br /><br />

<div class="welcome">
    <div class="wel-title">Welcome to Volunteer System</div><br />

    <p>
        Volunteer to Drive and help feed our senior citizen.
    </p>
    <p>
        Volunteer at Eloise Cooking Pot Food Bank and help serve our clients.
    </p>
    <p>
        Plant new crops to give fresh fruits and vegetables for a family.
    </p>
    <p>
        Put together a joy box and bring a smile to someone’s day.
    </p>
</div>
<br />
<br />
<iframe src="https://teamup.com/ksyvyrya1jewz1jshc" frameborder="0" width="100%" height="1000"></iframe>

<div class="row">
    <div><h2>HOW WE MAKE A DIFFERENCE</h2></div>
    <div class="col-md-2">
        <img src="~/Photos/ECP-Logo.jpg" width="250" height="250" />
    </div>
    <div class="col-md-2">
        <img src="~/Photos/H4V-Logo.jpg" width="250" height="250" />
    </div>
    <div class="col-md-2">
        <img src="~/Photos/Joy-Box-Logo.jpg" width="250" height="250" />
    </div>
    <div class="col-md-2">
        <img src="~/Photos/Scholarship-logo-red-2.jpg" width="250" height="250" />
    </div>
    <div class="col-md-2">
        <img src="~/Photos/Missionary-Logo.jpg" width="250" height="250" />
    </div>
</div>






